  aiohappyeyeballs==2.4.0
  aiohttp==3.10.5
  aiosignal==1.2.0
  attrs==24.2.0
  #blas==1.0
  blinker==1.6.2
  bottleneck==1.3.7
  #brotli-python==1.0.9
  bzip2==1.0.8
  c-ares==1.19.1
  ca-certificates==2024.9.24
  cachetools==5.3.3
  certifi==2024.8.30
  cffi==1.17.1
  click==8.1.7
  cryptography==43.0.0
  expat==2.6.3
  flask==3.0.3
  frozenlist==1.4.0
  google-api-core==2.19.1
  google-auth==2.29.0
  google-cloud-storage==2.18.0
  google-crc32c==1.5.0
  google-resumable-media==2.7.1
  googleapis-common-protos==1.63.2
  idna==3.7
  iniconfig==1.1.1
  itsdangerous==2.2.0
  jinja2==3.1.4
  libabseil==20240116.2
  libcrc32c==1.1.2
  libcxx==14.0.6
  libffi==3.4.4
  libgfortran==5.0.0
  libgfortran5==11.3.0
  libgrpc==1.62.2
  libopenblas==0.3.21
  libprotobuf==4.25.3
  llvm-openmp==14.0.6
  multidict==6.0.4
  ncurses==6.4
  numexpr==2.8.7
  numpy==1.26.4
  numpy-base==1.26.4
  openssl==3.0.15
  packaging==24.1
  pip==24.2
  pluggy==1.0.0
  proto-plus==1.24.0
  pyasn1==0.4.8
  pyasn1-modules==0.2.8
  pycparser==2.21
  pymysql==1.0.2
  pyopenssl==24.2.1
  pysocks==1.7.1
  pytest==7.4.4
  python==3.12.7
  python-dateutil==2.9.0post0
  python-tzdata==2023.3
  pytz==2024.1
  pyyaml==6.0.2
  re2==2022.04.01
  readline==8.2
  requests==2.32.3
  rsa==4.7.2
  setuptools==75.1.0
  six==1.16.0
  sqlite==3.45.3
  tk==8.6.14
  tqdm==4.66.5
  tzdata==2024b
  urllib3==2.2.3
  werkzeug==3.0.3
  wheel==0.44.0
  xz==5.4.6
  yaml==0.2.5
  yarl==1.11.0
  zlib==1.2.13
aiofiles====24.1.0
annotated-types====0.7.0
anyio====4.6.2.post1
astor====0.8.1
beautifulsoup4====4.12.3
charset-normalizer====3.4.0
cloud-sql-python-connector====1.13.0
contourpy====1.3.0
cycler====0.12.1
dataclasses-json====0.6.7
distro====1.9.0
docstring-parser====0.16
duckdb====1.1.2
faiss-cpu====1.9.0
faker====19.13.0
fonttools====4.54.1
google====3.0.0
google-cloud-aiplatform====1.71.1
google-cloud-bigquery====3.26.0
google-cloud-core====2.4.1
google-cloud-resource-manager====1.13.0
grpc-google-iam-v1====0.13.1
grpcio====1.67.1
grpcio-status====1.67.1
h11====0.14.0
httpcore====1.0.6
httpx====0.27.2
httpx-sse====0.4.0
jiter====0.6.1
jsonpatch====1.33
jsonpointer====3.0.0
kiwisolver====1.4.7
langchain====0.3.7
langchain-community====0.3.5
langchain-core====0.3.15
langchain-google-vertexai====2.0.7
langchain-openai====0.2.6
langchain-text-splitters====0.3.2
langgraph====0.2.45
langgraph-checkpoint====2.0.2
langgraph-sdk====0.1.35
langsmith====0.1.140
markupsafe====3.0.2
marshmallow====3.23.1
matplotlib====3.9.2
msgpack====1.1.0
mypy-extensions====1.0.0
openai====1.54.1
orjson====3.10.11
pandas====1.5.3
pillow====10.4.0
protobuf====5.28.3
pydantic====2.9.2
pydantic-core====2.23.4
pydantic-settings====2.6.1
pyparsing====3.2.0
python-dotenv====1.0.1
regex====2024.9.11
requests-toolbelt====1.0.0
scipy====1.14.1
shapely====2.0.6
sniffio====1.3.1
soupsieve====2.6
sqlalchemy====2.0.35
sqlglot====25.28.0
sqlglotrs====0.2.13
tenacity====9.0.0
tiktoken====0.8.0
typing-extensions====4.12.2
typing-inspect====0.9.0
