aiofiles==24.1.0
annotated-types==0.7.0
anyio==4.6.2.post1
astor==0.8.1
beautifulsoup4==4.12.3
charset-normalizer==3.4.0
cloud-sql-python-connector==1.13.0
contourpy==1.3.0
cycler==0.12.1
dataclasses-json==0.6.7
distro==1.9.0
docstring-parser==0.16
duckdb==1.1.2
faiss-cpu==1.9.0
faker==19.13.0
fonttools==4.54.1
google==3.0.0
google-cloud-aiplatform==1.71.1
google-cloud-bigquery==3.26.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.13.0
grpc-google-iam-v1==0.13.1
grpcio==1.67.1
grpcio-status==1.67.1
h11==0.14.0
httpcore==1.0.6
httpx==0.27.2
httpx-sse==0.4.0
jiter==0.6.1
jsonpatch==1.33
jsonpointer==3.0.0
kiwisolver==1.4.7
langchain==0.3.7
langchain-community==0.3.5
langchain-core==0.3.15
langchain-google-vertexai==2.0.7
langchain-openai==0.2.6
langchain-text-splitters==0.3.2
langgraph==0.2.45
langgraph-checkpoint==2.0.2
langgraph-sdk==0.1.35
langsmith==0.1.140
markupsafe==3.0.2
marshmallow==3.23.1
matplotlib==3.9.2
msgpack==1.1.0
mypy-extensions==1.0.0
openai==1.54.1
orjson==3.10.11
pandas==1.5.3
pillow==10.4.0
protobuf==5.28.3
pydantic==2.9.2
pydantic-core==2.23.4
pydantic-settings==2.6.1
pyparsing==3.2.0
python-dotenv==1.0.1
regex==2024.9.11
requests-toolbelt==1.0.0
scipy==1.14.1
shapely==2.0.6
sniffio==1.3.1
soupsieve==2.6
sqlalchemy==2.0.35
sqlglot==25.28.0
sqlglotrs==0.2.13
tenacity==9.0.0
tiktoken==0.8.0
typing-extensions==4.12.2
typing-inspect==0.9.0
